.filters-applied,
.filters-possible {
    height: 25px;
}

.filters-possible {
    margin-top: 7px;
}

.filter {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

.filter-applied {
    z-index: 11;
}

.filter-possible {
    z-index: 10;
}

.filter-header {
    color: #fbfcf9;
    line-height: 25px;
    padding: 0 0 0 10px;
}

.filter-applied .filter-header {
    background: #a6c96e;
    background-image: -o-linear-gradient(left, #7aa726 0, #a9cc74 100%);
    background-image: -moz-linear-gradient(left, #7aa726 0, #a9cc74 100%);
    background-image: -webkit-linear-gradient(left, #7aa726 0, #a9cc74 100%);
    background-image: -ms-linear-gradient(left, #7aa726 0, #a9cc74 100%);
    background-image: linear-gradient(left, #7aa726 0, #a9cc74 100%);
}

.filter-possible .filter-header {
    background: #cacaca;
    padding-right: 10px;
}

.filter-header .title-wrapper {
    display: inline-block;
    white-space: nowrap;
    min-width: 160px;
}

.filter-header .title {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.filter-header .count {
    font-size: 10px;
    display: none;
}

.filter-applied .filter-header .count {
    display: inline-block;
}

.filter-header .filter-switcher {
    color: #fbfcf9;
}

.filter-applied .filter-header .filter-switcher:hover {
    color: #c1dc86;
}

.filter-possible .filter-header .filter-switcher:hover {
    color: #999;
}

.filter-header .filter-close {
    display: none;
    vertical-align: middle;
    margin-right: -7px;
    width: 16px;
    height: 16px;
    background: url("../images/sprite.png") no-repeat -125px -120px;
}

.filter-applied .filter-header .filter-close {
    display: inline-block;
}

.filter-form {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 6px #999;
    color: #a8a8a8;
    padding: 8px;
    display: none;
}

.filter.opened .filter-form {
    display: block;
}



/* --- Range filter --- */

.filter-type-range .filter-form {
    width: 175px;
}

.filter-type-range .filter-form .clear {
    position: absolute;
    top: 0;
    right: 0;
    background: #eaeaea;
    color: #91b74c;
    padding: 0 10px;
    line-height: 22px;
}

.filter-type-range .filter-form .clear:hover {
    color: #75943c;
}

.filter-type-range .filter-form .inputs {

}

.filter-type-range .filter-form .from-input,
.filter-type-range .filter-form .to-input {
    display: inline-block;
    width: 32px;
    border: 1px solid #a8a8a8;
    color: #a8a8a8;
    padding: 3px 4px;
}

.filter-type-range .filter-form .slider {
    position: relative;
    height: 6px;
    background: #fff;
    border: 1px solid #a8a8a8;
    margin: 8px 0 0;
    box-shadow: inset 1px 1px 3px #ccc;
}

/* Картинка поинтера */

.filter-type-range .filter-form .slider .left-pointer,
.filter-type-range .filter-form .slider .right-pointer {
    position: absolute;
    top: -2px;
    left: -4px;
    width: 6px;
    height: 10px;
    background: #6C6C6C;
    cursor: pointer;
}

.filter-type-range .filter-form .slider .right-pointer {
    right: -4px;
    left: auto;
}

.filter-type-range .filter-form .selected-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #79a726;
    width: 100%;
}

.filter-type-range .filter-form .scale {
    width: 100%;
    table-layout: fixed;
}

.filter-type-range .filter-form .scale td {
    text-align: center;
    width: 25%;
}

.filter-type-range .filter-form .scale i {
    display: block;
    font: 10px/10px Helvetica, Arial, sans-serif;
}

.filter-type-range .filter-form .scale td.first {
    width: 12.5%;
    text-align: left;
}

.filter-type-range .filter-form .scale td.last {
    width: 12.5%;
    text-align: right;
}

.filter-type-range .filter-form .scale span {
    display: block;
    font: 10px/12px Helvetica, Arial, sans-serif;
}

/* --- / Range filter --- */




/* --- List filter --- */

.filter-type-list .filter-form {
    padding: 0;
}

.filter-type-list .filter-form .clear {
    background: #eaeaea;
    color: #91b74c;
    padding: 5px 10px;
    text-align: right;
    display: block;
}

.filter-type-list .filter-form .clear:hover {
    color: #75943c;
}

.filter-type-list .filter-form .row {
    float: left;
    margin: 5px 10px 10px;
}

.filter-type-list .filter-form .row li {
    height: 20px;
}

.filter-type-list .filter-form .row input {
    height: 13px;
    margin: 0;
    width: 13px;
}

.filter-type-list .filter-form .count {
    font-size: 10px;
}

.filter-type-list .filter-form .count i {
    color: #91b74c;
    font-style: normal;
}

/* --- / List filter --- */

/* --- Trigger filter --- */

.filter-type-trigger .title-wrapper {
    padding-left: 0;
    min-width: 0;
}

.filter-type-trigger .filter-header .count {
    display: inline-block;
}

/* --- / Trigger filter --- */

/* --- Catalog filter --- */

.filter-type-catalog .filter-form {
    left: 0;
    padding: 0;
    min-width: 350px;
}

.filter-type-catalog .filter-form-title {
    background: #eaeaea;
    color: #888;
    padding: 5px 10px;
    text-align: left;
}

.filter-type-catalog .filter-form-title .clear {
    float: right;
    margin-left: 10px;
    color: #91b74c;
}

.filter-type-catalog .filter-form .clear:hover {
    color: #75943c;
}

.filter-type-catalog .catalog-list-level-1 {
    margin: 5px 10px;
}

.filter-type-catalog .catalog-list-level-1 > li {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border-left: 1px solid #888;
}

.filter-type-catalog .catalog-list-level-1 > li:first-child {
    border-left: none;
}

.filter-type-catalog .catalog-list-item {
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.filter-type-catalog .catalog-list-level-1 .catalog-list-item {
    padding: 0 25px 0 10px;
}

.filter-type-catalog .catalog-list-level-2 .catalog-list-item {
    padding-left: 25px;
}

.filter-type-catalog .catalog-list-level-3 .catalog-list-item {
    padding-left: 40px;
}

.filter-type-catalog .catalog-list-item:hover {
    background: #cae68b;
}

.filter-type-catalog .catalog-list-item .title {
    color: #888;
    display: inline-block;
    vertical-align: middle;
}

.filter-type-catalog .catalog-list-item .title:hover {
    color: #93bb45;
    text-decoration: underline;
}

.filter-type-catalog .catalog-list-level-1 > li > .catalog-list-item .title {
    text-transform: uppercase;
}

.filter-type-catalog .catalog-list-item .count {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.filter-type-catalog .catalog-list-item .count span {
    color: #91b74c;
}

.filter-type-catalog .catalog-list-item .checker {
    display: inline-block;
    height: 12px;
    margin: 0 0 0 auto;
    position: absolute;
    right: 10px;
    top: 4px;
    width: 12px;
    font-size: 12px;
    line-height: 14px;
    box-shadow: none;
}

.filter-type-catalog .catalog-list-item:hover .checker {
    box-shadow: 0 0 10px 2px #BBB inset;
}

/* --- / Catalog filter --- */