#islands {
    height: 330px;
    margin: 10px 0;
    clear: both;
    position: relative;
}

#islands .loader {
    width: 100px;
    position: relative;
    top: 80px;
    margin: 0 auto;
    display: block;
}

.island {
    position: absolute;
}

.island-image {
    width: 100%;
}

.island .flag {
    position: absolute;
    width: 40%;
    top: -50px;
    left: 20px;
}

.island .flag img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.island-categories {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    text-align: center;
    padding-top: 8px;
}

.island > .island-categories {
    width: 840px;
}


.island-categories.active {
    visibility: visible;
}

.island-categories > li {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px #999;
    position: relative;
    margin: 0 0 8px 8px;
    background: #fff;
    text-align: center;
}

.island-categories > li > img {
    max-height: 75px;
    display: block;
    margin: 0 auto;
    z-index: 103;
}

.island-categories > li > .category-checker {
    position: absolute;
    top: 3px;
    right: 3px;
    box-shadow: none;
}

.island-categories > li:hover > .category-checker {
    box-shadow: 0 0 10px 2px #BBB inset;
}

.island-categories.active > li:hover {
    border: 5px solid #79a726;
    margin: -5px -5px 3px 3px;
}

/*.island-categories.active > li.has-children:hover:after {
    position: absolute;
    border: 7px solid transparent;
    border-left-color: #79a726;
    top: 32px;
    left: 78px;
    content: '';
    z-index: 102;
}*/

.island-categories.active > li:hover > .island-categories {
    visibility: visible;
    top: 80px;
    left: auto;
    z-index: 101;
    background: #cae68b;
    box-shadow: 3px 0 5px -1px #999;
    border-radius: 3px;
    text-align: left;
}

.island-categories.active > li:hover > .island-categories > li {
    box-shadow: none;
    width: 60px;
    height: 60px;
    margin: 0 0 5px 5px;
}

.island-categories.active > li:hover > .island-categories > li > img {
    max-width: 60px;
}

.island-categories.active > li:hover > .island-categories > li:hover {

}